.param-grid-container {
    display: grid;
    grid-template-areas:
        "layer1-container activation-container"
        "layer2-container loss-container"
        "layer3-container optimizer-container"
        "dropout-container regularization-container"
        "learning-rate-container batch-container"
        "batch-size-container .";
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.activation-container {
    display: grid;
    grid-area: activation-container;
    grid-template-areas: 
        "activation_fx activation_fx" 
        "relu tanh";
    grid-gap: 10px;
}

.loss-container {
    display: grid;
    grid-area: loss-container;
    grid-template-areas: 
        "loss_function loss_function"
        "MSELoss BCELoss";
    grid-gap: 10px;
}

.optimizer-container {
    display: grid;
    grid-area: optimizer-container;
    grid-template-areas: 
        "optimizer optimizer"
        "SGD Adam";
    grid-gap: 10px;
}

.regularization-container {
    display: grid;
    grid-area: regularization-container;
    grid-template-areas: 
        "regularization regularization"
        "L1 L2";
    grid-gap: 10px;
}

.learning-rate-container {
    display: grid;
    grid-area: learning-rate-container;
    grid-template-areas: 
        "learning_rate learning_rate_txt";
    grid-gap: 10px;
}

.batch-container {
    display: grid;
    grid-area: batch-container;
    grid-template-areas: 
        "batch_normalization batch_norm_toggle";
    grid-gap: 10px;
}

.layer1-container {
    display: grid;
    grid-area: layer1-container;
    grid-template-areas: 
        "layer1 layer1_txt";
    grid-gap: 10px;
}

.layer2-container {
    display: grid;
    grid-area: layer2-container;
    grid-template-areas: 
        "layer2 layer2_txt";
    grid-gap: 10px;
}

.layer3-container {
    display: grid;
    grid-area: layer3-container;
    grid-template-areas: 
        "layer3 layer3_txt";
    grid-gap: 10px;
}

.dropout-container {
    display: grid;
    grid-area: dropout-container;
    grid-template-areas: 
        "dropout dropout_txt";
    grid-gap: 10px;
}

.batch-size-container {
    display: grid;
    grid-area: batch-size-container;
    grid-template-areas: 
        "batch_size batch_size_txt";
    grid-gap: 10px;
}

.param-grid-container > div {
    background-color: #f1f1f1;
    text-align: left;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
}

.hidden-layers {
    display: grid;
    grid-template-areas: "";
    grid-gap: 10px;
}

.layer1 { grid-area: layer1; }
.layer1_txt { grid-area: layer1_txt; }
.layer2 { grid-area: layer2; }
.layer3 { grid-area: layer3; }
.dropout { grid-area: dropout; }
.dropout_txt { grid-area: dropout_txt; }
.learning_rate { grid-area: learning_rate; }
.learning_rate_txt { grid-area: learning_rate_txt; }
.batch_size { grid-area: batch_size; }
.batch_size_txt { grid-area: batch_size_txt; }

.param-grid-container > div > h2 {
    margin: 0;
}

.param-grid-container > div > button {
    background-color: cornflowerblue;
    text-align: center;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.5s, border 0.5s;
}

.param-grid-container > div > button.clicked {
    background-color: #45a049;
    border: 2px solid #3e623f;
}

.activation_fx { grid-area: activation_fx; }
.relu { grid-area: relu; }
.tanh { grid-area: tanh; }
.loss_function { grid-area: loss_function; }
.MSELoss { grid-area: MSELoss; }
.BCELoss { grid-area: BCELoss; }
.optimizer { grid-area: optimizer; }
.SGD { grid-area: SGD; }
.Adam { grid-area: Adam; }
.regularization { grid-area: regularization; }
.L1 { grid-area: L1; }
.L2 { grid-area: L2; }
.batch_normalization { grid-area: batch_normalization; }
.batch_norm_toggle { grid-area: batch_norm_toggle; }

.train-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

