@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    display: flex;
    height: 838px;
  }
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #F7F4EF;
  color: #5E577B;
  cursor: pointer;
  padding: 0 25px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.4s ease;
  margin: 12px;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);

}

.Taccordion {
  background-color: #F7F4EF;
  color: #5E577B;
  cursor: pointer;
  padding: 0 25px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.4s ease;
  margin: 12px;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.accoractive {
  background-color: #ACD3DE;
  color: #444;
}

.active {
  background-color: #FFDDE6;
}

/* Style the accordion content title */
.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: left;
  
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.4s ease;
  
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: #F7D0D9;
  transition: max-height 0.4s ease;
  overflow: hidden;
  max-width: 680px;
  margin-left: 35px;
  text-align: left;
  height: -100px;
}

/* Style the accordion content text */
.accordion__text {
  font-weight: 400;
  font-size: 1rem;
  padding: 15px;
}
